.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto_thin_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto_light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto_light_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 2000;
  /* font-style: italic; */
}

.roboto_regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto_regular_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto_medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto_medium_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.robotobold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto_bold_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto_black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto_black_italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bg_departement {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23001144' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23001e53' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23132a62' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23273872' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23384682' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.exp_job{
  background-color: #ffffff;

  
}
.filterimage{
  filter: drop-shadow(4px 4px 4px #000000);
}
.filterheader{
  filter: drop-shadow(.5px .5px .5px #000000);
}